body {
	font-family: 'Poppins', sans-serif;
	font-weight: '500';
}
.quatro {
	display: flex;
	width: 100%;
	max-width: 1000px;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: 40px;
	align-items: center;
}

.uno {
	width: 50%;
	text-align: center;
	padding: 50px 0px;

}

.gif {
	width: 75%;
}

.title {
	flex-basis: 100%;
	font-size: 20px;
	border-bottom: 1px solid;
}